/* CaseDetailModal.css */

.custom-dialog {
    background-color: #0d1117;
  }
  
  .custom-dialog-title {
    background-color: #0d1117;
    color: #ffffff !important;
  }
  
  .custom-dialog-content {
    background-color: #0d1117;
    color: #ffffff !important;
  }
  
  .custom-dialog-actions {
    background-color: #0d1117;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  /* Table Styles */
  .MuiTable-root {
    background-color: #121212;
  }
  
  .MuiTableCell-root {
    color: #ffffff !important;
    background-color: #1a1a1d;
  }
  
  .MuiTableHead-root .MuiTableCell-root {
    background-color: #006d77;
    font-weight: bold;
    color: #ffffff !important;
  }
  
  /* Buttons */
  .MuiButton-root {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  
  .MuiButton-containedPrimary {
    background-color: #006d77;
  }
  
  .MuiButton-containedPrimary:hover {
    background-color: #005962;
  }
  
  .MuiButton-containedInfo {
    background-color: #0077b6;
  }
  
  .MuiButton-containedInfo:hover {
    background-color: #005f86;
  }
  
  .MuiButton-containedSuccess {
    background-color: #00c853;
  }
  
  .MuiButton-containedSuccess:hover {
    background-color: #009624;
  }
  
  .MuiButton-containedSecondary {
    background-color: #8e24aa;
  }
  
  .MuiButton-containedSecondary:hover {
    background-color: #6a0080;
  }
  