.custom-dialog {
    background-color: #0e3d4f;
  }
  
  .custom-dialog-title {
    background-color: #145d6b;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .custom-dialog-content {
    background-color: #1e1e1e;
    padding: 2rem;
  }
  
  .custom-dialog-actions {
    background-color: #1e1e1e;
    padding: 1rem;
  }
  
  .custom-textfield label {
    color: #ccc;
  }
  
  .custom-textfield input {
    color: white !important;
    background-color: #333 !important;
    border: 1px solid #555 !important;
    padding: 10px;
  }
  
  .custom-textfield .MuiInput-underline:before {
    border-bottom: 1px solid #777;
  }
  
  .custom-textfield .MuiInput-underline:hover:before {
    border-bottom: 1px solid white;
  }
  