.button {
    color: white;
    background-color: #145d6b;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #1b7686; /* Slightly lighter teal on hover */
    cursor: pointer;
  }
  
  .MuiDrawer-paper {
    background-color: #0d1117 !important; /* Sidebar itself matches your new background */
    color: white;
  }
  
  .MuiListItemButton-root {
    transition: background-color 0.3s ease;
  }
  
  .MuiListItemButton-root:hover {
    background-color: #1b7686; /* Hover effect for sidebar items */
  }
  