.button{
    background: black;
    border: 5px dashed purple;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    }